body{
	margin: 0px;
	padding: 0px;
}

.header{
	display: flex;
	height: 66px;
	top: 0;
	margin: 0;
	border-bottom: 1px solid black;
	background: rgba(223, 223, 223, 0.69);
}
.nama{
	flex: 1;
}
.nama ul{
	display: flex;
	list-style-type: none;
	float: left;
}
.nama li{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}
.nama a{
	text-decoration: none;
	color: rgb(13, 12, 12);
}
.menu{
	flex: 1;
}
.menu ul{
	display: flex;
	list-style-type: none;
	float: right;
}
.menu li{
	font-size: 20px;
	margin-right: 40px;

}
.menu a{
	text-decoration: none;
	color: rgb(7, 4, 4);
}
.container{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.741);
}
.container h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;

}

.tabel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.741);
}
.tabel h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.kotak{
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.741);
}
.kotak h1{
    text-align: left;
    color: #fafafa;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
    font-size: 25px;
}