body{
	margin: 0px;
	padding: 0px;
}

.header{
	display: flex;
	height: 66px;
	top: 0;
	margin: 0;
	border-bottom: 1px solid black;
	background: rgba(223, 223, 223, 0.69);
}
.nama{
	flex: 1;
}
.nama ul{
	display: flex;
	list-style-type: none;
	float: left;
}
.nama li{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}
.nama a{
	text-decoration: none;
	color: rgb(13, 12, 12);
}
.menu{
	flex: 1;
}
.menu ul{
	display: flex;
	list-style-type: none;
	float: right;
}
.menu li{
	font-size: 20px;
	margin-right: 40px;

}
.menu a{
	text-decoration: none;
	color: rgb(7, 4, 4);
}
*{
    margin              : 0;
    padding             : 0;
    outline             : 0;
    box-sizing          : border-box;
}
input[type=text], select, textarea {
    width               : 100%;
    padding             : 12px;
    border              : 1px solid #ccc;
    margin-top          : 6px;
    margin-bottom       : 16px;
    resize              : vertical;
}
input[type=submit] {
    background-color    : #4CAF50;
    color               : white;
    padding             : 12px 20px;
    border              : none;
    cursor              : pointer;
}
input[type=submit]:hover {
    background-color    : #45a049;
}
.container {
    
    background-color    : rgb(206, 210, 234);
    padding             : 10px;
}
.column {
    float               : left;
    width               : 50%;
    margin-top          : 6px;
    padding             : 20px;
}
.row:after {
    content             : "";
    display             : table;
    clear               : both;
}
footer{
	display: flex;
	bottom: 0;
	width: 100%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	text-align: center;
	background-color: rgba(10, 9, 9, 0.69);
}
footer i{
	color: #fbf7f7;
}
