body{
	margin: 0px;
	padding: 0px;
}

.header{
	display: flex;
	height: 66px;
	top: 0;
	margin: 0;
	border-bottom: 1px solid black;
	background: rgba(223, 223, 223, 0.69);
}
.nama{
	flex: 1;
}
.nama ul{
	display: flex;
	list-style-type: none;
	float: left;
}
.nama li{
	font-size: 20px;
	font-weight: bold;
	margin-left: 15px;
}
.nama a{
	text-decoration: none;
	color: rgb(13, 12, 12);
}
.menu{
	flex: 1;
}
.menu ul{
	display: flex;
	list-style-type: none;
	float: right;
}
.menu li{
	font-size: 20px;
	margin-right: 40px;

}
.menu a{
	text-decoration: none;
	color: rgb(7, 4, 4);
}

main {
	width:auto;
	background:rgb(252, 255, 253);
}

.content {
	float:left;
	width:66%;
	background:rgb(206, 210, 234);
	padding:2%; 
	height:500px;

}
.content h2{
    font-size: 45px;
	font-style: Bernard MT Condensed;
	text-align: center;
}
.content p{
	font-size: 45px;
	font-style: Bernard MT Condensed;
	text-align: center;
}

.sidebar {
	float:right;
	width:25.8%;
	background:rgb(206, 210, 234);
	padding:2%;
	height: 500px;
	z-index: 2;
	border-left: 1px solid rgb(21, 20, 20);
	/* position: absolute; */
}
/* .article{
	border: 1px solid;
	margin: 1%;
	padding: 1%;
	width: 330px;
	height:450px;

} */
.img{
	align-items: center;
	position: relative;
	height: 60%; 	
	width: 60%;
	border-radius: 50%;
}
section{
	border: 0px solid;
	background-color: black;
	text-align: center;
	color: white;
	margin: auto;
	padding: 10px;
}

footer{
	display: flex;
	bottom: 0;
	width: 100%;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	text-align: center;
	background-color: rgba(10, 9, 9, 0.69);
}
footer i{
	color: #fbf7f7;
	text-align: center;
}
